{% extends "base.html" %}
{% block main_form %}
<form id="main-form" action="{{action}}" method="post">
    <div id="input-area">
        <div class="left">{{input_left}}</div>
        <div class="right">{{input_right}}</div>
        <p>
            <textarea id="input-textarea" name="input_text" placeholder="Input text here...">{{input_text}}</textarea>
        </p>
        <p>
            <input id="encode-button" class="page-button" type="submit" name="encode" value="Encode">
        </p>
    </div>
    {% block choice %}
    {% endblock %}
    <div id="encode-area">
        <div class="left">{{encode_left}}</div>
        <div class="right">{{encode_right}}</div>
        <p>
            <textarea id="dna-textarea" name="dna_text">{{dna_text}}</textarea>
        </p>
    </div>
    <p>
        <input id="decode-button" class="page-button" type="submit" name="decode" value="Decode">
    </p>
    <div class="decode-area">
        <div class="left">
            {{decode_left}}
        </div>
        <div class="right">
            {{user_message}}
        </div>
        <p>
            <textarea id="output-textarea" readonly>{{output_text}}</textarea>
        </p>
        <p>
            <input class="page-button" type="submit" name="clear" value="Clear Fields">
        </p>
    </div>
</form>
{% endblock %}