{% extends 'algorithm_base.html' %}
{% block title %}Simple Transform{% endblock %}
{% block choice %}
<div id="radio-buttons" style="display: flex;">
    <div style="flex: 1;">
        <input id="base-2" class="radio-button" type="radio" name="base" value="2" {{checked[0]}}>
        <label id="base-2-label" class="base-label" for="base-2">Base 2</label>
    </div>
    <div style="flex: 1;">
        <input id="base-3" class="radio-button" type="radio" name="base" value="3" {{checked[1]}}>
        <label id="base-3-label" class="base-label" for="base-3">Base 3</label>
    </div>
    <div style="flex: 1;">
        <input id="base-4" class="radio-button" type="radio" name="base" value="4" {{checked[2]}}>
        <label id="base-4-label" class="base-label" for="base-4">Base 4</label>
    </div>
    <br>
</div>
{% endblock %}